.text-100 {
  color: fuchsia;
}

.bg-100 {
  color: fuchsia;
}

.text-200 {
  color: #bf40bf;
}

.bg-200 {
  color: #bf40bf;
}

.text-400 {
  color: #9f609f;
}

.bg-400 {
  color: #9f609f;
}

.text-100 {
  color: #00aaff;
}

.bg-100 {
  color: #00aaff;
}

.text-200 {
  color: #4095bf;
}

.bg-200 {
  color: #4095bf;
}

.text-400 {
  color: #608a9f;
}

.bg-400 {
  color: #608a9f;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

:root {
  --clr-primary-100:fuchsia;
  --clr-primary-200:#bf40bf;
  --clr-primary-400:#9f609f;
  --clr-secondary-100:#00aaff;
  --clr-secondary-200:#4095bf;
  --clr-secondary-400:#608a9f;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: "Poppins";
  height: 100vh;
  display: grid;
  grid-template: repeat(12, 1fr)/repeat(12, 1fr);
}
.wrapper a, .wrapper button {
  cursor: pointer;
}
.wrapper .left_nav {
  grid-area: 1/1/9/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0;
}
.wrapper .left_nav i {
  color: rgba(40, 40, 40, 0.8);
  cursor: pointer;
}
.wrapper .left_nav ul {
  list-style: none;
  display: flex;
  width: 2em;
  gap: 2em;
  transform: rotate(-90deg);
}
.wrapper .left_nav ul li a {
  color: rgba(40, 40, 40, 0.8);
  display: block;
  text-decoration: none;
  font-weight: 500;
}
.wrapper .left_nav ul li a:hover, .wrapper .left_nav ul li a:focus {
  color: #ff0829;
  transition: all 0.2s ease-in-out;
}
.wrapper .dish_view {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #282828;
  color: white;
  grid-area: 1/2/7/5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.wrapper .dish_view .dish_image {
  width: 110%;
  filter: drop-shadow(0px 0px 0.4em rgba(40, 40, 40, 0.7));
  transform: rotate(0deg);
}
.wrapper .dish_view .dish_image:hover, .wrapper .dish_view .dish_image:focus {
  animation: 10s rotate infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.wrapper .right_nav {
  display: flex;
  justify-content: space-between;
  grid-area: 1/7/2/-1;
}
.wrapper .right_nav ul {
  padding: 1em 0;
  margin: 0;
  list-style: none;
}
.wrapper .right_nav ul li {
  display: inline-block;
  padding-right: 2em;
}
.wrapper .right_nav ul li a {
  font-weight: 500;
  display: inlineblock;
  text-decoration: none;
  color: #282828;
  transition: all 0.2s ease-in-out;
}
.wrapper .right_nav ul li a.active, .wrapper .right_nav ul li a:hover, .wrapper .right_nav ul li a:focus {
  transition: all 0.3s ease-in-out;
  color: #ff0829;
  position: relative;
}
.wrapper .right_nav ul li a.active::before, .wrapper .right_nav ul li a:hover::before, .wrapper .right_nav ul li a:focus::before {
  content: "";
  position: absolute;
  top: 110%;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fade_down 0.3s 1 forwards;
  opacity: 0;
  margin: 0 auto;
  width: 0.3em;
  height: 0.3em;
  transform: scale(0) translateY(2em);
  border-radius: 1em;
  background-color: #ff0829;
}
@keyframes fade_down {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.wrapper .dish_desc {
  grid-area: 2/7/7/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrapper .dish_desc_title {
  font-size: 3em;
  margin: 0;
  padding: 0;
}
.wrapper .dish_desc_desc {
  margin: 0;
  padding: 0;
  width: 80%;
}
.wrapper .dish_desc .order_details {
  display: flex;
  align-items: center;
}
.wrapper .dish_desc .order_details .order_price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15em;
}
.wrapper .dish_desc .order_details .order_price h1 {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  color: #ff0829;
}
.wrapper .dish_desc .order_details .order_price h4 {
  padding: 0;
  margin-top: -0.8em;
  font-size: 0.5em;
  font-weight: 500;
}
.wrapper .dish_desc .order_details .order_now_button {
  padding: 0.5em 1em;
  outline: none;
  border: none;
  font-weight: 600;
  background-color: #282828;
  color: white;
  transition: all 0.2s ease-in-out;
}
.wrapper .dish_desc .order_details .order_now_button:hover, .wrapper .dish_desc .order_details .order_now_button:focus {
  transition: all 0.2s ease-in-out;
  background-color: #ff0829;
  box-shadow: 0 0.5em 1em rgba(255, 8, 41, 0.4);
}
.wrapper .dish_list {
  justify-content: center;
  display: flex;
  gap: 4em;
  grid-area: 8/1/12/-1;
}
.wrapper .dish_list .dish_card {
  border-radius: 1em;
  background-color: #302020;
  color: white;
  padding: 1.5em;
  display: flex;
  min-height: 13em;
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0 1em 2em rgba(40, 40, 40, 0.3);
  transition: all 0.2s ease-in-out;
}
.wrapper .dish_list .dish_card:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1.4em 1em rgba(40, 40, 40, 0.3);
  transform: scale(1.1);
}
.wrapper .dish_list .dish_card:hover .dish_image {
  animation: 10s rotate infinite linear;
}
.wrapper .dish_list .dish_card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .dish_list .dish_card .top .dish_image {
  left: -30%;
  top: -30%;
  position: relative;
  filter: drop-shadow(0px 0px 0.4em rgba(40, 40, 40, 0.7));
  background-image: url(../../images/food_2.png);
  width: 9em;
}
.wrapper .dish_list .dish_card .middle {
  margin-top: -2.2em;
}
.wrapper .dish_list .dish_card .middle .sub_title {
  font-size: 0.6em;
  margin-top: -0.1em;
}
.wrapper .dish_list .dish_card .bottom {
  margin-top: auto;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
}
.wrapper footer.footer {
  grid-area: 12/1/-1/-1;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
}
.wrapper footer.footer .sliders {
  display: flex;
  justify-self: center;
  gap: 1em;
}
.wrapper footer.footer .sliders .dot {
  cursor: pointer;
  width: 0.8em;
  height: 0.8em;
  border-radius: 0.4em;
}
.wrapper footer.footer .sliders .dot_1 {
  background-color: #ff0829;
}
.wrapper footer.footer .sliders .dot_2 {
  background-color: rgba(255, 8, 41, 0.5);
}
.wrapper footer.footer .sliders .dot_3 {
  background-color: rgba(255, 8, 41, 0.3333333333);
}
.wrapper footer.footer .sliders .dot_4 {
  background-color: rgba(255, 8, 41, 0.25);
}
.wrapper footer.footer .sliders .dot_5 {
  background-color: rgba(255, 8, 41, 0.2);
}
.wrapper footer.footer .sliders .dot.active, .wrapper footer.footer .sliders .dot:hover, .wrapper footer.footer .sliders .dot:focus {
  background-color: #ff0829;
  transition: all 0.2s ease-in-out;
}
.wrapper footer.footer .socials {
  display: flex;
  gap: 1em;
  position: absolute;
  right: 2em;
  color: rgba(40, 40, 40, 0.9);
}
.wrapper footer.footer .socials i {
  cursor: pointer;
}
.wrapper footer.footer .socials i:hover, .wrapper footer.footer .socials i:focus {
  transition: all 0.2s ease-in-out;
  color: #ff0829;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
