$primaryColor:#282828;
$secondaryColor:#ff0829;
$colors:(
    primary:(
        100:hsl(300, 100%, 50%),
        200:hsl(300, 50%, 50%),
        400:hsl(300, 25%, 50%),
    ),
     secondary:(
        100:hsl(200, 100%, 50%),
        200:hsl(200, 50%, 50%),
        400:hsl(200, 25%, 50%),
    )
);